{% extends "layout.html" %}

{% block content %}
<div class="presentacion">
    <div class="imagen">
        <img src="../static/img/me1.png" alt="management" width="390px">
    </div>

    <div class="Presentacion">
        <h2 class="titulo">Estudiante y apasionado del desarrollo de software! </h2>
        <p class="slogan">En busca de una oportunidad para desarrollar mis conocimientos</p>
        <a  class="btn btn-dark boton-black" href="/contact">Trabajemos juntos!</a>
    </div>


</div>
<h1>This is home</h1>

{% endblock %}